.container {
    
    
    background-size: cover;
    overflow: hidden;
    position: relative;
    width: 100wh;
    height: 100vh;
    flex-direction: row;
    display: flex;
    align-items: center;
    
    justify-content: center;
    background-image: url('../../images/dog_form_2.jpg');
}

.formContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1px;
    margin-left: 80px;
    margin-bottom: 60px;
    border-radius: 10px;
    border: #FB8C00 solid 2px;
    width: 600px;
    height: 550px;
    padding: 1%;
    color: white;
}
.input {
    color: #FF4000;
    border-radius: 5px;
    width: 150px;
    display: flex;
    align-items: flex-end;
    border: #FB8C00 solid 1.5px;
    
}
.title {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: small;
}
.error {
    color: #FF4000;
    font-size:smaller;
    font-weight: bold;
    
}


  .button {
    border: #454546 solid 2px;
    color: white;
    position: absolute;
    width: 120px;
    height: 50px;
    margin-top: 15%;
    margin-bottom: 40%;
    margin-left: 10%;
    
    border-radius: 10px;
    background-color:#FB8C00;
    transition: background-color 0.3 ease;
}
.button:hover {
    background-color: #454546;
    cursor: pointer;
    color: white;
    border: #FF4000 solid 2px;
}
.list {
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: #FB8C00 solid 2px;
    color: #FB8C00;
}

