.container {
    position: relative;
    margin-top: 5px;
    background-size: 100%;
    background-repeat:repeat;
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
}
.overlayImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../images/breeds_home.jpg'); 
    background-size: cover;
    background-position: center;
    opacity: 0.4; 
    z-index: -1; 
}
.dogImage {
    margin: 50px 15px;
    width: 40%;
    height: 430px;
    object-fit: cover;
    border-radius: 5%;
    border: #FB8C00 solid 2px;
}
.info {
    flex: 1;
    padding: 90px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #454546;
    
}
.title {
    color: #c14503;
    text-decoration: underline;
}
.card {
    width: 100%;
    border: #FB8C00 solid 3px;
    display: flex;
    flex-direction: row;
    background-color: #FFA50080;
}
.button {
    color: white;
    position: relative;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-left: 30%;
    border-radius: 10px;
    background-color:#FB8C00;
    transition: background-color 0.3 ease;
}
.button:hover {
    background-color: #454546;
    cursor: pointer;
    color: white;
}