.paginadoContainer {
    margin: 7px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 0.1rem;
    
}
.nav {
    z-index: 0;
    max-width: 1500px;
}

.paginado {
    text-align: center;
    user-select: none;
    margin: 20px 5px;
    font-size: 14px;
    width: 26px;
    display: block;
    padding: 0.5rem 0.3rem;
    text-decoration: none;
    border-radius: 0.2rem;
    border: none;
    color: white;
    background-color: #FB8C00;
    transition: transform 0.4s;
    position: relative;
}
.paginado > span {
    display: inline-block;
}
.paginado:hover, .paginado__active {
    text-align: center;
    user-select: none;
    margin: 20px 5px;
    font-size: 14px;
    width: 32px;
    display: block;
    padding: 0.5rem 0.3rem;
    text-decoration: none;
    border-radius: 0.2rem;
    border: none;
    background-color: #EF6C00;
    color: #454546;
    border-color: white;
    transform: scale(1.3,1.3) rotateY(360deg);
}
.paginado > span, .paginado__active > span {
    transform: rotateY(-360deg);
}